* {
    padding: 0;
    margin: 0;
    color: white;
    border: border-box;
}

.navbar {
    height: 3rem;
    width: 100%;
    background-color: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins', sans-serif;
}

.name {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    margin-right: 40rem;
}

#dh {
    margin-right: 0.2rem;
    color: #3b82f8;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    margin-left: 5rem;
}

.hero-sec {
    width: 100%;
    height: 25rem;
    background-color: #020617;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins', sans-serif;
}

.hero-details {
    width: 30rem;
    height: 90%;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    padding-top: 2rem;
    /* flex-wrap: wrap; */
}

.hero-intro{
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* align-items: c; */
    /* flex-wrap: wrap; */
    padding-bottom: 1rem;
}

.intro {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 500;
    display: flex;
    justify-content: left;
    align-items: center;
    /* margin-right: 10rem; */
}

p {
    color: #cbd5e1;
}

.hero-name {
    display: flex;
    justify-content: left;
    /* flex-wrap: nowrap;  */
    align-items: center;
    font-weight: 700;
    font-size: large;
}

#main-role {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    padding-bottom: 1rem;
}

#par {
    font-size: 1.4rem;
    line-height: 2rem;
    padding-bottom: 1rem;
}

#view-btn {
    background-color: #3b82f8;
    color: white;
    /* color: #020617; */
    border-radius: .7rem;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 1rem;
}

#view-btn:hover {
    background-color: #60a5fa;
}

#cont-btn {
    background-color: transparent;
    color: #3b82f8;
    border: 1px solid #3b82f8;
    border-radius: 0.7rem;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.hero-image-box {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
}

.hero-image {
    height: 70%;
    width: 35%;
    margin-left: 10rem;
    border: 4px solid #60a5fa;
    border-radius: 50%;
    background-image: url("Image.png");
    background-position: center;
    background-size: cover;
}

.about-sec {
    width: 100%;
    height: 15rem;
    font-family: 'poppins', sans-serif;
    background-color: #0f172a; 
    display: flex;
    /* flex-direction: column; */
    justify-content: column;
    align-items: column; 
    
}

.about-details {
    margin-right: 20rem;
    margin-left: 5rem;
}

.about-txt {
    height: 3rem;
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: column;
    font-size: 1rem;
    font-weight: 700;
    padding-left: 2rem;
    padding-top: 1rem;
    text-decoration: 3px underline #3b82f8;
    text-underline-offset: 1rem;
}

.about-desc {
    line-height: 1rem;
    font-weight: 400;
    padding-left: 2rem;
    /* row-gap: 3rem; */
}

.about-icon-box {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-icon {
    height: 80%;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
}

.skills-sec {
    width: 100%;
    height: 15rem;
    font-family: 'poppins', sans-serif;
    background-color: #020617;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: column; */
    text-align: center;
}

.skill-txt {
    height: 20%;
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    padding-top: 1rem;
    text-decoration: 3px underline #3b82f8;
    text-underline-offset: 1rem;
}

.skills-container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.skills {
    height: 80%;
    width: 20%;
}

.skill1-icon {
    height: 80%;
    width: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    border-right: 0.01px solid #cbd5e1;
}

.projects-sec {
    width: 100%;
    height: 20rem;
    font-family: 'poppins', sans-serif;
    background-color: #0f172a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: column; */
    text-align: center;
}

.project-txt {
    height: 20%;
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    padding-top: 1rem;
    text-decoration: 3px underline #3b82f8;
    text-underline-offset: 1rem;
}

.projects-container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    /* padding-left: 1rem;
    padding-right: 1rem; */
}

.projects {
    height: 80%;
    width: 40%;
    border: 1px solid #cbd5e1;
    border-radius: 0.7rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-icon-box {
    height: 40%;
    width: 5rem;
    border: 1px solid #3b82f8;
    border-radius: 0.7rem;
    /* margin-top: 1rem;
    margin-left: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.project1-icon {
    height: 80%;
    width: 1rem;
    padding-left: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem; 
}

.project1-details {
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    align-items: center;
}

.project1-name {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 20%;
    font-weight: 700;
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-top: 1rem;
    /* line-height: 2rem; */
}

.project1-desc {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 20%;
    font-weight: 300;
    font-size: 1.2rem;
    padding-left: 2rem;
    padding-top: 0.5rem;
}

.project1-btn {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 22%;
    /* font-weight: 300;
    font-size: 1.2rem; */
    padding-left: 2rem;
    padding-top: 2rem;
}

.p1-btn {
    border: none;
    background-color: #0f172a;
    color: #3b82f8;
    font-size: 1.5rem;
}

.contact-sec {
    width: 100%;
    height: 10rem;
    font-family: 'poppins', sans-serif;
    background-color: #0f172a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: column; */
    text-align: center;
}

.contact-txt {
    height: 20%;
    width: 100%;
    font-size: 2.5;
    font-weight: 700;
    padding-top: 1rem;
    text-decoration: 3px underline #3b82f8;
    text-underline-offset: 1rem;
}

.contact-container {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.contact1-box {
    height: 70%;
    width: 30%;
    border: 1px solid #cbd5e1;
    border-radius: 0.7rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icon-box {
    height: 70%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icon {
    height: 80%;
    width: 30%;
    padding-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem; 
}

.contact-details {
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    align-items: center;
}

.contact-name {
    display: flex;
    justify-content: left;
    /* align-items:flex-start; */
    width: 100%;
    height: 50%;
    font-weight: 700;
    font-size: 1.5rem;
    /* padding-left: 2rem; */
    /* padding-top: 1rem; */
}

.contact-id {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 50%;
    font-weight: 300;
    font-size: 1.2rem;
    /* padding-left: 2rem; */
    /* padding-top: 0.5rem; */
}

.contact-link {
    margin-left: 0px;
}

.copyright-sec {
    width: 100%;
    height: 2.5rem;
    background-color: #020617;
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
}

@media (max-width:728px) {
    .name {
        font-size: 0.8rem;
        font-weight: 500;
        margin-right: 0.25rem;
    }

    .options {
        gap: 0.5rem;
    }

    a {
        margin-left: 0rem;
    }

    .hero-sec {
        height: 50rem;
        flex-direction: column;
    }

    .hero-details {
        width: 100%;
        height: 50%;
        justify-content: center;
        align-items: left;
        padding-top: 0rem;
        padding-left: 3rem;
    }

    .hero-image-box {
        height: 50%;
        width: 100%;
        margin-left: 0rem;
    }

    .hero-image {
        height: 80%;
        width: 80%;
        margin-left: 0rem;
    }

    .about-sec {
        width: 100%;
        height: 25rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-details {
        margin-right: 0rem;
        margin-left: 0rem;
    }

    .about-txt {
        height: 3rem;
        width: 100%;
        padding-left: 0rem;
    }

    .about-desc {
        padding-left: 0rem;
    }

    .about-icon-box {
        width: 100%;
    }

    .about-icon {
        height: 80%;
        width: 80%;
        font-size: 10rem;
    }

    .skills-sec {
        height: 55rem;
        align-items: center;
    }

    .skill-txt {
        height: 5%;
    }

    .skills-container {
        width: 100%;
        height: 95%;
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
        gap: 1rem;
    }

    .skills {
        height: 25%;
        width: 100%;
    }

    .skill1-icon {
        height: 80%;
        width: 100%;
        border-right: none;
        font-size: 7rem;
        margin-bottom: 0.5rem;
    }

    .projects-sec {
        height: 35rem;
        justify-content: center;
        align-items: center;
    }

    .project-txt {
        height: 10%;
        width: 100%;
        font-size: 1rem;
    }

    .projects-container {
        height: 90%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }

    .projects {
        height: 50%;
        width: 90%;
        margin-top: 0rem;
    }

    .project-icon-box {
        height: 30%;
        width: 4rem;
        justify-content: center;
    }

    .project1-icon {
        height: 80%;
        width: 80%;
        padding-left: 0rem;
        justify-content: center;
        align-items: center;
        font-size: 2rem; 
    }

    .project1-details {
        height: 80%;
        width: 60%;
        gap: 0.3rem;
    }

    .project1-name {
        width: 100%;
        height: 20%;
        padding-top: 0rem;  
    }

    .project1-desc {
        align-items: center;
        width: 100%;
        height: 40%;
        padding-top: 0rem;
    }

    .project1-btn {
        height: 20%;
        padding-left: 2rem;
        padding-top: 0rem;
    }

    .contact-sec {
        height: 25rem;
        align-items: center;
    }

    .contact-txt {
        height: 10%;
    }

    .contact-container {
        height: 90%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
    }

    .contact1-box {
        height: 25%;
        width: 90%;
        margin-top: 0rem;
    }

    .contact-icon {
        padding-left: 0rem;
    }

    .copyright-sec {
        height: 3rem;
    }
}
